body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: URL("background.jpg");
  margin: 0px;
  padding: 5px;
  color: #555555;
}

body * {
  font-size: 20px;
}

div#controls {
  display: flex;
  width: 100%;
  padding: 5px;
  display: none;
}

div#time {
  flex-grow: 1;
  flex-basis: 0;
  text-align: left;
}

div#cursor {
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;
}

div#buttons {
  flex-grow: 1;
  flex-basis: 0;
  text-align: right;
}

button#resumeButton {
  display: none;
}

div#title {
  font-size: 50px;
  font-weight: bold;
  padding: 15px;
}

div#forms {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #ffffff;
  border: outset;
  padding: 50px;
}

select {
  width: 100%;
  box-sizing: border-box;
}

img {
  max-height: 800px;
  border: outset;
}
