body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightblue;
  margin: 0px;
  padding: 5px;
}

body * {
  font-size: 20px;
}

div#controls {
  display: flex;
  width: 100%;
  padding: 5px;
}

div#time {
  flex-grow: 1;
  flex-basis: 0;
  text-align: left;
}

div#cursor {
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;
}

div#buttons {
  flex-grow: 1;
  flex-basis: 0;
  text-align: right;
}

div#title {
  color: mediumslateblue;
  font-size: 50px;
  font-weight: bold;
  padding: 15px;
}

div#forms {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: ghostwhite;
  padding: 50px;
}

select {
  width: 100%;
  box-sizing: border-box;
}

img {
  max-height: 800px;
}
